body {
	font-family: Helvetica, sans-serif;
	background: #fff url('../images/background.png');
	color: #2b0012;
	padding-bottom: 30px;
}

/* {{{ Layout */

#bd { zoom: 1; }

#doc {
	width: 852px;
	padding: 0;
	margin: 0 auto;
	background: #fff;
	border-left: 5px solid #a8dbd2;
	border-right: 5px solid #a8dbd2;
	border-bottom: 5px solid #a8dbd2;
}

#hd h1 {
	padding: 0;
	border-bottom: 5px solid #a8dbd2;
}

#content {
	width: 370px;
	margin: 20px;
	float: left;
}

#left_sidebar {
	float: left;
}

#right_sidebar {
	margin-top: 1em;
	float: right;
}

.sidebar {
	width: 201px;
	padding: 10px;
	padding-top: 15px;
}

#ft {
	clear: both;
	padding: 15px;
	color: #999;
}

div.site-sidebar {
	padding: 0 2em;
}

/* }}} */
/* {{{ Links */

a { color: #069; }
a:link { color: #069; }
a:visited { color: #992053; }
a:hover { color: #000; }
a:active { color: #000; }

/* }}} */
/* {{{ Post Header */

.entry .entry-title {
	font-size: 220%;
	letter-spacing: -2px;
	font-weight: normal;
	margin-bottom: 0;
	color: #5e9e3e;
	font-style: italic;
}

.entry .entry-title a,
.entry .entry-title a:link,
.entry .entry-title a:visited,
.entry .entry-title a:hover,
.entry .entry-title a:active {
	color: #5e9e3e;
	text-decoration: none;
}

.entry .entry-title a:hover,
.entry .entry-title a:active {
	text-decoration: underline;
}

.entry .entry-subtitle {
	color: #bc3a71;
	margin: 0.25em 0.5em 0.5em 0.5em;
	font-family: segoe ui, verdana, sans-serif;
}

.entry .entry-subtitle a,
.entry .entry-subtitle a:link,
.entry .entry-subtitle a:visited {
	color: #bc3a71;
	font-weight: bold;
}

.entry .entry-subtitle a:hover,
.entry .entry-subtitle a:active {
	color: #dc81a8;
}

.entry .entry-subtitle abbr {
	border-bottom: 0;
}

/* }}} */
/* {{{ Post Content */

.entry {
	margin-bottom: 3em;
}

.entry-no-title {
	border-top: 1px solid #e8acc6;
	border-bottom: 1px solid #cc6a94;
	padding: 0.5em;
	margin-bottom: 2em;
}

.entry-first .entry-no-title {
	border-top: 0px;
}

.entry .entry-content,
#content .author-content {
	font-size: 123.1%;
	line-height: 1.4;
}

/* }}} */
/* {{{ Content */

a img.border { border: 1px solid #992053; padding: 2px; background: #fff; }
a img.border:hover	{ border: 1px solid #b95d84; padding: 2px; background: #fff; }
a img.border:active	{ border: 1px solid #b95d84; padding: 2px; background: #fff; }

tt {
	font-size: 90%;
	color: #555;
}

ul.plain {
	margin-left: 1em;
}

ul.plain li {
	list-style-type: none;
	padding: 0.25em 0;
}

small,
.smallprint {
	font-size: 85%;
	color: #992053;
}

.swat-pagination a:link {
	background-color: #f3d0df;
	border-color: #fff;
}

.swat-pagination a:hover {
	background-color: #f3d0df;
	border-color: #fff;
}

.swat-pagination span.swat-pagination-current {
	border-color: #fff;
}


/* }}} */
/* {{{ Post Comments */

.comments-title {
	border-bottom: 1px solid #ccc;
}

.comment {
	margin: 1em 1em 2em 1em;
	font-size: 85%;
	font-family: segoe ui,verdana,sans-serif;
}

.comment .comment-title {
	font-weight: bold;
	font-size: 100%;
	color: #b6547d;
}

.comment .comment-title span.comment-author {
	color: #992053;
}

.comment .comment-title .permalink {
	font-weight: normal;
}

.comment .comment-title a.permalink:link,
.comment .comment-title a.permalink:visited {
	color: #b6547d;
	text-decoration: none;
}

.comment .comment-title a.permalink:hover,
.comment .comment-title a.permalink:active {
	color: #992053;
	text-decoration: underline;
}

.comment .comment-title abbr { border-bottom: 0; }

.comment .comment-link a:link,
.comment .comment-link a:visited {
	color: #b6547d;
}

.comment .comment-link a:hover,
.comment .comment-link a:active {
	color: #992053;
}

.comment .comment-content {
	margin: 0.5em 0;
	line-height: 1.5;
}

/* }}} */
/* {{{ Reset */

input[type="text"],
input[type="password"],
textarea {
	width: auto;
}

/* }}} */
/* {{{ Navbar */

#nav_bar {
	font-size: 85%;
	font-family: segoe ui, verdana, sans-serif;
	color: #b6547d;
}

#nav_bar .swat-navbar-first { font-weight: bold; }

#nav_bar a:link,
#nav_bar a:visited {
	color: #b6547d;
}

#nav_bar a:hover,
#nav_bar a:active {
	color: #992053;
}

#nav_bar span { display: none; }

/* }}} */
/* {{{ Sidebar Gadgets */

.site-content-gadget h3 {
	margin-bottom: 0.5em;
}

.site-gadget-title {
	color: #e98314;
}

.blorg-tag-gadget ul li span,
.blorg-archive-gadget ul li span,
.blorg-active-conversations-gadget ul li span {
	color: #999;
}

.site-sidebar-gadget {
	font-family: segoe ui, verdana, sans-serif;
	color: #444;
}

.site-sidebar-gadget a:link,
.site-sidebar-gadget a:visited {
	color: #e98314;
	text-decoration: none;
}

.site-sidebar-gadget a:hover,
.site-sidebar-gadget a:active {
	color: #e39c50;
}

.blorg-active-conversations-gadget ul li.new span { color: #ac416e; }

/* }}} */
/* {{{ Author */

#content .author-name {
	font-weight: normal;
	font-size: 174%;
	margin: 0.2em 0;
}

#content .author-content {

}

/* }}} */
/* {{{ Swat Widgets */

.swat-frame,
.swat-frame .swat-frame-title,
.swat-frame .swat-frame-contents,
.swat-frame .swat-footer-form-field {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
}

.swat-frame .swat-frame-title {
	color: #992053;
	margin: 1em 0;
}

.swat-form-field {
	font-family: segoe ui,verdana,sans-serif;

}

/* }}} */
