<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <title>Daniel Burka - Delta Tango Bravo</title>
    <meta charset="UTF-8" />
    <meta name="author" content="Daniel Burka" />
    <link rel="stylesheet" href="themes/dtb/splash/style.css" />
    <link rel="icon" type="image/png" href="themes/dtb/splash/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
</head>

<body>
    <div class="cover">
    	<div class="main">

    		<h1><img src="themes/dtb/splash/plane.png" alt="Delta Tango Bravo"></h1>

    		<a href="http://twitter.com/dburka" class="twitter"><em>Twitter</em></a>
    		<a href="http://facebook.com/dburka" class="facebook"><em>Facebook</em></a>
    		<a href="https://plus.google.com/108000051912603578599/posts" class="gplus"><em>Google+</em></a>
    		<a href="http://www.linkedin.com/in/dburka" class="linkedin"><em>Linkedin</em></a>
    		<a href="http://instagrid.me/dburka/" class="instagram"><em>Instagram</em></a>
    		<a href="http://dribbble.com/dburka" class="dribbble"><em>Dribbble</em></a>
    		<a href="http://flickr.com/dburka" class="flickr"><em>Flickr</em></a>
    		<a href="http://pinterest.com/dburka/pins/" class="pinterest"><em>Pinterest</em></a>
    		<a href="http://www.deltatangobravo.com/page1" class="blog"><em>Blog</em></a>
    		<a href="mailto:daniel@deltatangobravo.com" class="email"><em>Email</em></a>

    	</div>

    </div>
</body>

</html>
