body {
	background: #333 url('../images/sry-back.png') right top repeat-y;
	border-top: 6px solid #666;
	font-family: gill sans, trebuchet ms, verdana, sans-serif;
	margin: 0;
	padding: 0;
}

#doc {
	margin: 0;
	padding: 0;
}

#hd h1 {
	color: #fff;
	margin-left: 20px;
	font-size: 246.2%;
}

#bd {
	margin-left: 28px;
}

#content {
	margin-right: 350px;
}


/* Entries */
.entry .entry-title a { color: #fff; }
.entry .entry-title a:hover { color: #999; }

.entry .entry-subtitle,
.entry .entry-subtitle a:link,
.entry .entry-subtitle a:visited {
	color: #999;
}

.entry .entry-content {
	color: #eee;
}


/* Sidebar */
#sidebar {
	width: 275px;
}

#sidebar .blorg-sidebar {
	position: relative;
	top: -45px;
}

#sidebar .blorg-sidebar .blorg-gadget-title {
	color: #666;
	font-size: 123.1%;
	padding: 0;
	margin: 0;
}