body {
	font-family: verdana, sans-serif;
	margin: 0 5%;
	padding: 0;
}

#content { margin-right: 30%; }

#hd {
	background: url('../images/title.jpg');
}

#hd h1 {
	padding-left: 30px;
	padding-top: 30px;
}

#hd h1,
#hd h1 a {
	background: url('../images/logo.jpg') left top no-repeat;
	color: #09227f;
	font-style: italic;
	width: 340px;
	height: 110px;
	line-height: 2000px;
	overflow: hidden;
}



a,
a:link,
a:hover,
.entry .entry-title a:visited,
.entry .entry-subtitle a,
.entry .entry-subtitle a:link,
.entry .entry-subtitle a:hover {
	color: #003399;
}

a:visited,
.entry .entry-subtitle a:visited {
	color: #666;
}


/* Entries */
.entry .entry-title { font-size: 130%; }

.entry .entry-subtitle {
	background: url('../images/speakerbullet.jpg') 0 50% no-repeat;
	padding: 2px 0 2px 18px;
	height: 15px;
}

.entry .entry-subtitle { color: #666; }

.entry .entry-content { padding-left: 18px; }

.entry-no-title .entry-content { padding-left: 0; }

.entry-no-title .entry-subtitle {
	background: none;
	padding-left: 0;
}

/* Sidebar */
#sidebar { width: 25%; }

.site-sidebar .site-gadget-title {
	color: #666;
	padding: 2px;
	border-bottom: 1px solid #ccc;
	margin-right: 30px;
}

.site-sidebar .site-gadget-title a {
	text-decoration: none;
}

.site-sidebar .blorg-search-gadget form {
	margin-top: 6px;
}


/* Pagination */
.swat-pagination { padding: 0.5em; }

.swat-pagination span.swat-pagination-current {
	border: 1px solid #2f5a99;
	background: #bfd9ff;
	color: #333;
}

.swat-pagination span {
	border: none;
	color: #999;
}

.swat-pagination a,
.swat-pagination a:visited {
	color: #333;
	border: 1px solid transparent;
}

.swat-pagination a:hover {
	border: 1px solid #2f5a99;
	background: #bfd9ff;
	color: #333;
}

.footer .results-message,
.footer .archive-link {
	font-size: 85%;
}


/* Comment Form */
#comment_edit_form .swat-frame-contents {
	background: transparent;
}

#comment_edit_form .swat-required { color: #aaa; }

#comment_edit_form .swat-entry,
#comment_edit_form .swat-textarea {
	background: #fff;
	border-top: 1px solid #777;
	border-left: 1px solid #777;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 2px;
	color: #eee;
}

#comment_edit_form .swat-button {
	background: #eee;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #777;
	border-right: 1px solid #777;
	padding: 2px;
}
