body {
	background: #f9f8f4;
	font-family: "Lucida Grande",Verdana,sans-serif;
	font-size: 80%;
	color: #444;
	margin: 0;
}

/* {{{ Layout */

#doc {
	width: 1000px;
	margin: 0 auto;
}

#content {
	width: 630px;
	float: left;
	margin: 0;
}

#sidebar {
	position: static;
	float: right;
	width: 360px;
	padding: 0;
}

#page_title {
	margin-top: 0;
}

/* }}} */
/* {{{ Header */

#hd {
	background: #505050 url("images/background-header.png") bottom center repeat-x;
	height: 85px;
}

#hd h1 {
	padding: 0;
}

#hd h1 a,
#hd h1 span {
	background: transparent url("images/logo.png") top center no-repeat;
	float: left;
	display: block;
	height: 70px;
	width: 350px;
	text-indent: -9999px;
}

#hd div.tagline {
	background: #333;
	float: right;
	position: relative;
	top: 28px;
	color: #979797;
	margin-right: 20px;
	padding: 7px 12px 7px 12px;
}

#hd div.tagline a {
	color: #ddd;
	text-decoration: none;
	border-bottom: 1px solid #666;
}

#bd #nav_bar {
	background: #ecebe9;
	padding: 10px;
}

#container {
	position: relative;
	margin-top: 20px;
}

/* }}} */
/* {{{ Post Entries */

#content .entry {
	padding: 0 10px 10px 10px;
}

#content .entry a {	color: #f16400; }
#content .entry a:link {	color: #f16400; }
#content .entry a:hover {	color: #000; }
#content .entry a:visited {	color: #f16400; }

#content .entry h3.entry-title {
	font-size: 180%;
	font-weight: normal;
}

#content .entry h3.entry-title a,
#content .entry h3.entry-title a:link,
#content .entry h3.entry-title a:visited {
	color: #333;
}

#content .entry .entry-subtitle {
	color: #969b97;
}

#content .entry .entry-content {
	padding: 0 10px 0 140px;
}

#content .entry .entry-content .summary {
	position: relative;
}

#content .entry .entry-read-more {
	padding: 0 10px 0 140px;
}

#content .entry .entry-content-extended {
	padding: 0 10px 10px 10px;
}

/* }}} */
/* {{{ Post Summary */

#content .entry .entry-content .summary img {
	background: #595959 url("images/background-product.png") bottom center repeat-x;
	position: absolute;
	top: 0;
	left: -140px;
	width: 100px;
	padding: 8px;
}

#content .entry .entry-content .summary dl {
	margin-left: 0;
}

#content .entry .entry-content .summary dl dt {
	font-weight: bold;
	float: left;
	margin-right: 5px;
}

/* }}} */
/* {{{ Post Formatting */

#content .entry .entry-content-extended h3 {
	font-size: 130%;
	font-weight: normal;
}

.inset {
	background: #595959 url("images/background-product.png") bottom center repeat-x;
	font-size: 80%;
	width: 206px;
	color: #fff;
	padding: 8px;
}

.inset img {
	background: #fff;
	padding: 2px;
}

.inset span {
	display: block;
	padding: 15px 0;
}

.right {
	float: right;
	margin: 0 0 1em 1em;
}

.left {
	float: left;
	margin: 0	1em 1em 0;
}

/* }}} */
/* {{{ Gadgets */

.blorg-sidebar-gadget {
	clear: both;
	background: #ecebe9;
	width: 360px;
	margin: 0 0 20px 0;
	padding: 5px 0 20px 0;
	padding-bottom: 1em;
}

.blorg-sidebar-gadget:after {	content:".";	display:block;	height:0;	clear:both;	visibility:hidden;}.blorg-sidebar-gadget {display:inline-block;}/* Hide from IE Mac \*/.blorg-sidebar-gadget {display:block;}/* End hide from IE Mac */

.blorg-content-gadget-first {

}

.blorg-sidebar-gadget .blorg-gadget-title {
	margin: 10px 20px 0 20px;
}

.blorg-sidebar-gadget .blorg-gadget-content {
	margin: 0 20px 0 20px;
}

.blorg-search-gadget {
	padding: 20px 0;
}

.blorg-search-gadget form {
	background: #e5e4df;
	padding: 10px 20px;
}

.blorg-search-gadget h3 {
	display: none;
}

.blorg-search-gadget input {
	margin-right: 10px;
	padding: 5px 10px;
}
.blorg-search-gadget input#keywords {
	width: 180px;
	border: 1px #ccc solid;
}
.blorg-search-gadget input#search_button {
	margin: 0;
}

.blorg-content-gadget {
	font-size: 110%;
}

.blorg-content-gadget a {	color: #f16400; }
.blorg-content-gadget a:link {	color: #f16400; }
.blorg-content-gadget a:hover {	color: #000; }
.blorg-content-gadget a:visited {	color: #f16400; }

.blorg-ad-gadget {
	background: #f9f8f4;
}

.blorg-tag-gadget ul li {
	width: 160px;
	display: block;
	float: left;
	font-weight: bold;
	height: 10px;
	padding: 0 0 10px 0;
}
.blorg-tag-gadget ul li span { font-weight: normal; }

.blorg-content-gadget h3 {
	background: transparent url("images/title-about.png") top left no-repeat;
	display: block;
	width: 250px;
	height: 35px;
	text-indent: -9999px;
}

.blorg-tag-gadget h3 {
	background: transparent url("images/title-tags.png") top left no-repeat;
	display: block;
	width: 250px;
	height: 35px;
	text-indent: -9999px;
}

.blorg-authors-gadget h3 {
	background: transparent url("images/title-authors.png") top left no-repeat;
	display: block;
	width: 250px;
	height: 35px;
	text-indent: -9999px;
}

.blorg-authors-gadget ul li {
	float: left;
	margin: 0;
}

.blorg-authors-gadget ul li h4 a {
	background: transparent url("images/author.png") top center no-repeat;
	display: block;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	margin: 5px;
	outline: none;
}
.blorg-authors-gadget h4#author_nick a { background: transparent url("images/author-nick.png") top center no-repeat; }
.blorg-authors-gadget h4#author_dburka a { background: transparent url("images/author-daniel.png") top center no-repeat; }
.blorg-authors-gadget h4#author_dan a { background: transparent url("images/author-dan.png") top center no-repeat; }
.blorg-authors-gadget h4#author_steven a { background: transparent url("images/author-steven.png") top center no-repeat; }
.blorg-authors-gadget h4#author_isaac a { background: transparent url("images/author-isaac.png") top center no-repeat; }
.blorg-authors-gadget h4#author_nathan a { background: transparent url("images/author-nathan.png") top center no-repeat; }
.blorg-authors-gadget h4#author_gauthierm a { background: transparent url("images/author-mike.png") top center no-repeat; }
.blorg-authors-gadget h4#author_stephen a { background: transparent url("images/author-stephen.png") top center no-repeat; }
.blorg-authors-gadget h4#author_dave a { background: transparent url("images/author-dave.png") top center no-repeat; }
.blorg-authors-gadget h4#author_dennis a { background: transparent url("images/author-dennis.png") top center no-repeat; }
.blorg-authors-gadget h4#author_kelly a { background: transparent url("images/author-kelly.png") top center no-repeat; }

.blorg-feed-gadget {
	background: #ecebe9 url("images/background-sidebar.png") bottom right no-repeat
}

/* }}} */
/* {{{ Comments */

#comments {
	clear: both;
	margin-right: 20px;
}

#comments .comment {
	margin: 1em 0 3em 0;
}

#comments .comment .comment-title {
	padding-left: 20px;
}

#comments .comment .comment-content {
	background: #ecebe9;
	padding: 20px;
}


/* }}} */
/* {{{ Footer */

#ft {
	clear: both;
	background: #ecebe9 url("images/background-footer.png") 20px 20px no-repeat;
	padding: 15px 30px 10px 80px;
	color: #666;
}

#ft a {	color: #666; }
#ft a:link { color: #666; }
#ft a:visited {	color: #666; }
#ft a:hover {	color: #000; }

#ft p.second-line {
	color: #aeacad;
	font-style: italic;
}

/* }}} */
