body {
	background: #f9f8f4;
	font-family: "Lucida Grande",Verdana,sans-serif;
	font-size: 80%;
	color: #444;
	margin: 0;
}

/* {{{ Layout */

#doc {
	width: 1000px;
	margin: 0 auto;
}

#page_title, #content {
	width: 630px;
	float: left;
	margin: 0;
}

#sidebar {
	background: #ecebe9 url("images/background-sidebar.png") bottom right no-repeat;
	position: static;
	float: right;
	width: 320px;
	padding: 20px;
}

/* }}} */
/* {{{ Header */

#hd {
	background: #505050 url("images/background-header.png") bottom center repeat-x;
	height: 85px;
}

#hd h1 {
	padding: 0;
}

#hd h1 a,
#hd h1 span {
	background: transparent url("images/logo.png") top center no-repeat;
	float: left;
	display: block;
	height: 70px;
	width: 350px;
	text-indent: -9999px;
}

#hd div.tagline {
	background: #333;
	float: right;
	position: relative;
	top: 28px;
	color: #979797;
	margin-right: 20px;
	padding: 7px 12px 7px 12px;
}

#hd div.tagline a {
	color: #ddd;
	text-decoration: none;
	border-bottom: 1px solid #666;
}

#bd #nav_bar {
	background: #e2e1dc;
	padding: 10px;
}

#container {
	position: relative;
	margin-top: 20px;
}

/* }}} */
/* {{{ Post Entries */

#content .entry {
	padding: 0 10px 10px 10px;
}

#content .entry a {	color: #f16400; }
#content .entry a:link {	color: #f16400; }
#content .entry a:hover {	color: #000; }
#content .entry a:visited {	color: #f16400; }

#content .entry h3.entry-title {
	font-size: 180%;
	font-weight: normal;
}

#content .entry h3.entry-title a,
#content .entry h3.entry-title a:link,
#content .entry h3.entry-title a:visited {
	color: #333;
}

#content .entry .entry-subtitle {
	color: #969b97;
}

#content .entry .entry-content {
	padding: 0 10px 0 140px;
}

#content .entry .entry-content .summary {
	position: relative;
}

#content .entry .entry-read-more {
	padding: 0 10px 0 140px;
}

#content .entry .entry-content-extended {
	padding: 0 10px 10px 10px;
}

/* }}} */
/* {{{ Post Summary */

#content .entry .entry-content .summary img {
	background: #595959 url("images/background-product.png") bottom center repeat-x;
	position: absolute;
	top: 0;
	left: -140px;
	width: 100px;
	padding: 8px 8px 45px 8px;
}

#content .entry .entry-content .summary dl {
	margin-left: 0;
}

#content .entry .entry-content .summary dl dt {
	font-weight: bold;
	float: left;
	margin-right: 5px;
}

/* }}} */
/* {{{ Post Formatting */

#content .entry .entry-content-extended h3 {
	font-size: 130%;
	font-weight: normal;
}

.inset {
	background: #595959 url("images/background-product.png") bottom center repeat-x;
	font-size: 80%;
	width: 206px;
	color: #fff;
	padding: 8px;
}

.inset img {
	background: #fff;
	padding: 2px;
}

.inset span {
	display: block;
	padding: 15px 0;
}

.right {
	float: right;
	margin: 0 0 1em 1em;
}

.left {
	float: left;
	margin: 0	1em 1em 0;
}

/* }}} */
/* {{{ Gadgets */

.blorg-sidebar-gadget {
	clear: both;
	margin: 1em 0 2em 0;
}

.blorg-content-gadget {
	font-size: 110%;
}

.blorg-content-gadget a {	color: #f16400; }
.blorg-content-gadget a:link {	color: #f16400; }
.blorg-content-gadget a:hover {	color: #000; }
.blorg-content-gadget a:visited {	color: #f16400; }

.blorg-tag-gadget ul li {
	width: 160px;
	display: block;
	float: left;
	height: 10px;
	padding: 0 0 10px 0;
}

.blorg-content-gadget h3 {
	background: transparent url("images/title-about.png") top center no-repeat;
	display: block;
	width: 272px;
	height: 50px;
	text-indent: -9999px;
}

.blorg-tag-gadget h3 {
	background: transparent url("images/title-tags.png") top center no-repeat;
	display: block;
	width: 255px;
	height: 50px;
	text-indent: -9999px;
}

.blorg-authors-gadget h3 {
	background: transparent url("images/title-authors.png") top center no-repeat;
	display: block;
	width: 270px;
	height: 50px;
	text-indent: -9999px;
}

.blorg-authors-gadget ul li {
	float: left;
	margin: 0;
}

.blorg-authors-gadget ul li h4 a {
	background: transparent url("images/author.png") top center no-repeat;
	display: block;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	margin: 5px;
}
.blorg-authors-gadget h4#author_nick a { background: transparent url("images/author-nick.png") top center no-repeat; }
.blorg-authors-gadget h4#author_dburka a { background: transparent url("images/author-daniel.png") top center no-repeat; }
.blorg-authors-gadget h4#author_dan a { background: transparent url("images/author-dan.png") top center no-repeat; }
.blorg-authors-gadget h4#author_steven a { background: transparent url("images/author-steven.png") top center no-repeat; }
.blorg-authors-gadget h4#author_isaac a { background: transparent url("images/author-isaac.png") top center no-repeat; }
.blorg-authors-gadget h4#author_nathan a { background: transparent url("images/author-nathan.png") top center no-repeat; }
.blorg-authors-gadget h4#author_gauthierm a { background: transparent url("images/author-mike.png") top center no-repeat; }
.blorg-authors-gadget h4#author_stephen a { background: transparent url("images/author-stephen.png") top center no-repeat; }
.blorg-authors-gadget h4#author_dave a { background: transparent url("images/author-dave.png") top center no-repeat; }
.blorg-authors-gadget h4#author_dennis a { background: transparent url("images/author-dennis.png") top center no-repeat; }
.blorg-authors-gadget h4#author_kelly a { background: transparent url("images/author-kelly.png") top center no-repeat; }

/* }}} */
/* {{{ Header */

#ft {
	clear: both;
	background: #ecebe9 url("images/background-footer.png") 20px 20px no-repeat;
	padding: 15px 30px 10px 80px;
}

#ft p.second-line {
	color: #aeacad;
	font-style: italic;
}

/* }}} */
