body {
	color: #333;
	background: #fff;
	margin: 0;
	padding: 0 0 2em 0;
	font-family: trebuchet ms;
}

/* {{{ Layout */

#doc {
	margin: 0 5%;
}

#bd {
	position: relative;
}

#content {
	margin-right: 250px;
}

#sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
}

/* }}} */
/* {{{ Links */

a:link    { color: #204a87; }
a:visited { color: #5c3466; }
a:hover   { color: #3465a4; }
a:active  { color: #333333; }

/* }}} */
/* {{{ Header */

#hd h1 {
	font-size: 300%;
	margin: 0.5em 0 0 0;
}

/* }}} */
/* {{{ Post Header */

.entry .entry-title {
	font-size: 131%;
	margin: 1em 0 0.2em 0;
}

.entry .entry-title a:link,
.entry .entry-title a:visited {
	text-decoration: none;
}

.entry .entry-title a:hover,
.entry .entry-title a:active {
	text-decoration: underline;
}

.entry .entry-subtitle {
	font-size: 85%;
	color: #666;
	margin-bottom: 0.5em;
}

.entry .entry-subtitle a:link,
.entry .entry-subtitle a:visited {
	color: #666;
}

.entry .entry-subtitle a:hover,
.entry .entry-subtitle a:active {
	color: #333;
}
.entry .entry-subtitle abbr { border: 0; }

/* }}} */
/* {{{ Post */

.entry {
	margin: 1em 0 4em 0;
}

.entry-content {
	line-height: 1.5;
}

/* }}} */
/* {{{ Post Replies */

.replies-title {
	border-bottom: 1px solid #ccc;
}

.reply {
	margin: 1em 1em 2em 1em;
	font-size: 85%;
}

.reply .reply-title {
	font-weight: bold;
	font-size: 100%;
	color: #999;
}

.reply .reply-title span.reply-author {
	color: #666;
}

.reply .reply-title .permalink {
	font-weight: normal;
}

.reply .reply-title a.permalink:link,
.reply .reply-title a.permalink:visited {
	color: #999;
	text-decoration: none;
}

.reply .reply-title a.permalink:hover,
.reply .reply-title a.permalink:active {
	color: #666;
	text-decoration: underline;
}

.reply .reply-title abbr { border-bottom: 0; }

.reply .reply-link a:link,
.reply .reply-link a:visited {
	color: #999;
}

.reply .reply-link a:hover,
.reply .reply-link a:active {
	color: #666;
}

.reply .reply-content {
	margin: 0.5em 0;
	line-height: 1.5;
}

/* }}} */
/* {{{ Reset */

input[type="text"],
input[type="password"],
textarea {
	width: auto;
}

/* }}} */
/* {{{ Navbar */

#nav_bar {
	font-size: 85%;
	color: #999;
}

#nav_bar a:link,
#nav_bar a:visited {
	color: #999;
}

#nav_bar a:hover,
#nav_bar a:active {
	color: #666;
}

/* }}} */
/* {{{ Sidebar Gadgets */

.blorg-sidebar-gadget {
	margin: 0 0 2em 0;
	color: #666;
}

.blorg-sidebar-gadget .blorg-gadget-title {
	font-size: 100%;
	font-weight: bold;
	color: #666;
}

.blorg-sidebar-gadget a:link,
.blorg-sidebar-gadget a:visited {
	color: #666;
}

.blorg-sidebar-gadget a:hover,
.blorg-sidebar-gadget a:active {
	color: #333;
}

.blorg-active-conversations-gadget ul {
	margin: 0;
}

.blorg-active-conversations-gadget ul li {
	list-style-type: none;
	margin: 0.5em 0;
	padding: 0;
	font-size: 85%;
}

.blorg-active-conversations-gadget ul li span { color: #999; }

.blorg-active-conversations-gadget ul li.new span { color: #ef2929; }

/* }}} */
/* {{{ Swat Widgets */

.swat-frame,
.swat-frame .swat-frame-title,
.swat-frame .swat-frame-contents,
.swat-frame .swat-footer-form-field {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
}

.swat-frame .swat-frame-title {
	color: #666;
	margin: 1em 0;
}

/* }}} */
