html {
    min-width: 860px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 11px;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

h1 a:hover,
h2 a:hover,
h3 a:hover {
  text-decoration: none;
  margin-top: 1px;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 6px 0;
  line-height: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 span {
    text-transform: none;
}

.contents, .contents-footer {
    background: #deff90;
    height: 1px;
    position: relative;
    top: 57px;
    text-align: left;
}

.contents-footer {
    top: 75px;
}

#header {
    position: relative;
    padding-top: 20px;
    margin-bottom: 5em;
}

#header h1,
.container-footer .main h3 {
    font-size: 36px;
    letter-spacing: -0.05em;
    padding: 0;
    white-space: nowrap;
}

#header h1 a,
#header h1 span {
    margin-left: -12px;
    padding: 9px 85px 10px 10px;
    background: url(../images/slate/plane.png) 100% 0 no-repeat;
}

.container-footer .main h3 {
    font-size: 24px !important;
    margin-top: 3px;
}

#header em {
    text-transform: uppercase;
    font-style: normal;
    font-size: 11px;
    display: block;
    clear: left;
}

h3 {
  font-size: 18px;
}

.entry h3.entry-title {
    margin-bottom: 0.5em;
    font-size: 18px;
}

.entry h3.entry-title a {
    //background: url(../images/media-icons.gif) 0 -450px no-repeat;
    //padding-left: 42px;
    //margin-left: -42px;
}

.entry h3.entry-title a:hover {
    text-decoration: none;
}

h4 {
  font-size: 14px;
}

#nav_bar {
	font-size: 11px;
	background: url(../images/slate/nav-back.gif) 0 50% no-repeat;
	padding: 12px 10px 12px 40px;
	margin-left: -7%;
	margin-top: 0;
	margin-bottom: 50px;
	color: #89ac2d;
}

#nav_bar a {
	color: #485e0f;
	font-weight: bold;
}

.entry {
    margin-top: 30px;
    padding-bottom: 2em;
    position: relative;
}

.entry p a {
    white-space: nowrap;
}

.entry-subtitle {
    position: absolute;
    bottom: 0;
    left: 0;
}

.entry-subtitle a {
    display: block;
    float: right;
    font-size: 11px;
    padding: 3px 0;
}

p, .site-gadget-content {
  margin-top: 0;
  line-height: 1.7;
}

.site-gadget-title {
    color: #fff;
}

blockquote {
    margin-left: 0;
    padding-left: 30px;
    font-size: 11px;
    line-height: 2;
    color: #777c85;
}

.swat-note {
    opacity: 0.7;
}

.container {
    clear: both;
    padding: 0 40px;
    overflow: auto;
    margin-top: -1px;
}

.container-footer {
    border-bottom: 1px solid #fff;
    margin-top: 20px;
}

.inner-container {
    margin: 0 auto;
    max-width: 1000px;
}

.inner-container {
    background: url(../images/slate/shade.png);
    padding: 0 20px 20px 20px;
}

.main {
    float: left;
    width: 58%;
    padding: 20px 5% 20px 3%;
    min-height: 2000px;
}

.container-footer .main {
    min-height: 700px;
}

.extra {
    float: left;
    width: 32%;
    margin-left: 2%;
    padding-top: 70px;;
}

.container-footer .inner-container {
    padding-top: 20px;
    padding-bottom: 0;
}

.container-footer .extra {
    font-size: 11px;
    padding-top: 30px;
}

.container-footer h3 span {
    position: relative;
    background: #a1b2b9;
    padding: 0 10px;
    left: -10px;
}

.extra h3 {
    font-size: 13px;
    margin-top: 2em;
    text-transform: none;
}

.extra h3 a {
    display: block;
    margin-left: -38px;
    padding-left: 38px;
    min-height: 19px;
    padding-top: 5px;
    background: url(../images/media-icons.gif) 0 0 no-repeat;
}

.extra .blorg-authors-gadget h3 em {
    background-position: 0 0;
}

.extra h3 a#digg {
    background-position: 0 -200px;
}

.extra h3 a#lastfm {
    background-position: 0 -100px;
}

.extra h3 a#flickr {
    background-position: 0 -50px;
}

.extra h3 a#twitter {
    background-position: 0 -250px;
}

.extra h3 a:link,
.extra h3 a:visited,
.extra h3 a:hover {
    color: #fff;
}

.extra h3 span {
	color: #fff;
    text-transform: uppercase;
}

.feature {
    border: 1px solid #fff;
    margin: 1em 0;
}

.slides {
    background #fff;
    border: 10px solid #fff;
    margin: 1em 0;
}

.feature a,
.feature span {
    display: block;
    border: 3px solid #c2c2a4;
    text-indent: -2000em;
    white-space: nowrap;
    height: 100px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.feature a:hover {
    border-color: #453b2d;
}

.swat-pagination a,
.swat-pagination span {
    background: #fff;
    padding: 6px 8px;
    color: #5e0081 !important;
    font-size: 11px;
    border: none;
    margin-right: 2px;
}

.swat-pagination span {
    background: none;
}

.swat-pagination span.swat-pagination-current {
    background: #fff;
    border-color: #5e0081 !important;
}

.swat-pagination {
    border: none !important;
}

.results-message,
.archive-link {
    display: none;
}

.extra ul,
.extra li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.extra ul {
    margin-bottom: 2em;
}

.extra .list li, #dopplr-blog-badge-for-dburka li {
    border-top: 1px solid #deeef9;
    padding: 7px 0 0 0;
    margin-top: 7px;
    position: relative;
}

#comments {
    clear: left;
}

.comment {
	margin: 0;
    border-top: 1px solid #deeef9;
    padding: 15px 0 15px 130px;
    position: relative;
    font-size:  11px;
    min-height: 4.5em;
}

.comment a.comment-link:link,
.comment a.comment-link:hover,
.comment a.comment-link:visited {
	color:  #fff;
}

h3.comments-title {
	border:  none;;
}

.comment h4 {
    position: absolute;
    width: 90px;
    left: 0;
    top: 18px;
    margin: 0;
    font-size: 11px;
}

.comment h4 abbr {
	color: #777c85;
}

.comment p {
    margin-top: 0;
}

.comment h4 span {
	color: #4e5259 !important;
}

.comment h4 a {
    display: block;
    font-weight: normal;
}

label {
    font-size: 11px;
    font-weight: bold;
}

input[type='text'], textarea {
    border: 1px solid #fff;
    width: 95%;
}

.swat-form-field {
    padding-top: 1em;
}

form {
    padding: 1em 0;
}

#rember_me_field {
    position: relative;
    padding-left: 20px;
}

#rember_me_field input {
    position: absolute;
    left: 0;
    top: 10px;
}

.swat-note {
    font-size: 11px;
}

/****
Custom styles
***/

body,
.container-footer,
.feature,
.comment h4 span,
.comment {
  color: #4e5259;
  border-color: #deeef9;
}

body {
    background: #dae1e2 url(../images/slate/back.png) 50% -100px no-repeat;
}

.main {
    background: url(../images/slate/shade-darker.png);
}

a:link,
a:visited,
#dopplr-blog-badge-for-dburka a:link,
#dopplr-blog-badge-for-dburka a:visited {
    color: #fff;
}

a.comment-count:link,
a.comment-count:visited,
a.next,
a.prev {
    color: #5e0081 !important;
    font-weight: bold;
    text-transform: uppercase;
}

a.comment-count:hover {
    background: #5e0081;
    color: #dfc1ea !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding-right: 4px;
    padding-left: 4px;
    margin: 0 -4px;
    text-decoration: none;
}

abbr.published {
    margin-left: 1em;
}

.entry-subtitle a.permalink,
.entry-subtitle abbr:hover {
    cursor: default;
    text-decoration: none;
    color: #697479;
}

a:hover,
a:active {
  color: #26054e;
}

h1 a:link,
h1 a:visited,
h2 a:link,
h2 a:visited,
h3 a:link,
h3 a:visited {
  color: #fff;
}

h1 a:hover,
h2 a:hover,
h3 a:hover {
  text-shadow: 0 1px 0 #646e7c;
}

h1,
h2,
h3 {
  color: #fff;
  //text-shadow: 1px 1px 0 #a9aeb6;
}
 
.feature a,
.feature span {
    border-color: #fff;
}
 
.feature a:hover,
.blorg-flickr-json-gadget div a:hover,
#lastfmrecords a:hover img {
    border-color: #5e0081;
}

.blorg-twitter-gadget ul li {
    border-top: 1px solid #deeef9;
    padding: 5px 0;
    line-height: 1.4;
    position: relative;
}

.blorg-twitter-gadget ul li a:link,
.blorg-twitter-gadget ul li a:hover,
.blorg-twitter-gadget ul li a:visited {
    color: #fff;
    text-decoration: none;
    display: block;
    padding-right: 80px;
} 

.blorg-twitter-gadget ul li a:before {
    content: "@dburka";
    color: #4e5259;
    display: block;
    position: absolute;
    right: 0;
    top: 5px;
    
}

.blorg-twitter-gadget li span {
    display: none;
}

.blorg-twitter-gadget .site-gadget-footer {
    display: none;
}

.prev, .next {
    background: #fff;
    border-color: #453b2d;
}

.extra .list li {
    border-color: #e5f0f6;
}

dl {
    margin-left: 0;
}

dt {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 0;
    margin-bottom: 0.3em;
}

dd {
    margin-left: 1em;
    margin-bottom: 1em;
}

.blorg-authors-gadget h4 {
    display: none;
}

.blorg-digg-gadget #digg-widget-container ul li {
    border-top: 1px solid #deeef9;
    padding: 5px 80px 5px 0;
    position: relative;
    line-height: 1.4;
}

.blorg-digg-gadget li a.digg-count {
    position: absolute;
    right: 0;
    top: 5px;
}

.blorg-digg-gadget li a.digg-count,
.blorg-digg-gadget li a.digg-count span {
    text-decoration: none;
    color: #4e5259;
}

.blorg-digg-gadget #digg-widget-container ul li a {
    line-height: 1.4;
    text-decoration: none;
}

.blorg-digg-gadget #digg-widget-container li h3 {
    background: none;
}

.blorg-digg-gadget #digg-widget-container ul li h3 a,
.blorg-digg-gadget #digg-widget-container ul li h3 a:hover {
    color: #fff;
    text-shadow: none;
}

.extra .blorg-syndication {
    margin-top: 6px;
}

.extra .blorg-syndication a {
    background: url(../images/icon-rss.gif) 0 50% no-repeat;
    display: block;
    padding: 1px 18px;
    color: #fff;
}

.extra {
    font-size: 13px;
}

#lastfmrecords ol {
    margin: 0 -20px 0 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#lastfmrecords img {
    border: 3px solid #fff;
    margin: 5px 8px 0 0;
    width: 27%;
}

.blorg-flickr-json-gadget img {
    display: none;
}

.blorg-flickr-json-gadget div a {
    display: block;
    -webkit-background-origin: border-box;
    -moz-background-origin: border-box;
    height: 100px;
    margin-top: 10px;
    border: 3px solid #fff;
    background-position: 50% 40%;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto !important;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    width: 100%;
}

.extra #search_form input {
    border: 8px solid #fff;
    width: 95%;
    margin-top: 5px;
    display: block;
}

.extra #search_form input[type='submit'] {
    display: none;
}

p a:hover {
    background: #5e0081;
    color: #dfc1ea;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 1px 4px;
    margin: 0 -4px;
    z-index: 1000000000;
    text-decoration: none;
}

.container-footer .list em {
    float: right;
    font-style: normal;
}

.container-footer .main h2 {
    margin-top: 30px;
}


#comment_edit_frame {
	font-size: 13px;	
}

#comment_edit_frame .swat-frame-contents {
	padding: 0;
}

#comment_edit_details {
	width: 100%;
}

#comment_edit_frame .swat-form-field {
	float: none;
	clear: left;
	width: 100%;
	display: block;
	margin: 0;
}

#comment_edit_frame .swat-form-field input {
	border:  5px solid #fff;
	background: #fff;
}

#comment_edit_details label {
	margin-bottom: 3px;
	display: block;
}

#comment_edit_details  .swat-form-field-checkbox label {
	display: inline;
	margin: 0;
	vertical-align: middle;
}

#comment_edit_frame .swat-form-field .swat-required {
	color: #5e0081;
}

#comment_edit_frame .swat-form-field .swat-note {
	color: #fff;
	opacity: 1;
}

#comment_edit_frame .swat-form-field input[type='button'],
#comment_edit_frame .swat-form-field input[type='submit'] {
	background: #5e0081;
	border-color: #5e0081;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	padding: 3px 10px;
	margin: 30px 10px 30px 0;
}

#comment_edit_frame h2 span {
	display: none;
}

#comment_edit_frame h2 {
	color: #fff;
	font-size: 18px;
	border-top: 1px solid #deeef9;
	border-bottom: 0 !important;
	padding-top: 15px;
}

.swat-message .swat-message-container a {
    color: #000;
}