body {
	font-family: Times New Roman, serif;
	font-size: small;
	background: #bfbfbf;
	margin: 1em 4em;
}

#hd {
	text-align: center;
}

#hd h1 {
	font-size: 250%;
}

.entry {
	margin-top: 2em;
}

.entry .entry-title {
	margin-bottom: 0;
	font-size: 150%;
}

.entry-footer-rule {
	margin-top: 2em;
}

.entry-content a img {
	border-width: 2px;
	border-style: solid;
}

img.right { float: right; margin: 0.2em 0 1em 1em; }
img.left  { float: left;  margin: 0.2em 1em 0 1em; }

.swat-pagination a,
.swat-pagination span,
.swat-pagination span.swat-pagination-current {
	border: 0;
}

.footer,
#sidebar {
	text-align: center;
}

#sidebar ul {
	padding: 0;
}

#sidebar ul li {
	list-style-type: none;
}

/* {{{ Comment Form */

#comment_edit_form {
	margin-top: 2em;
}

#comment_edit_frame .swat-frame-title {
	margin-bottom: 0;
	border: 0;
}

#comment_edit_frame .swat-frame-contents {
	background: transparent;
	padding: 1em;
}

#comment_edit_form .swat-entry,
#comment_edit_form .swat-textarea {
	width: 98%;
}

#comment_edit_details {
	width: 35%;
	float: left;
	position: relative;
}

#comment_bodytext_field {
	width: 62%;
	float: right;
	position: relative;
}

#comment_edit_frame .swat-footer-form-field {
	clear: both;
}

.swat-frame,
.swat-frame .swat-footer-form-field,
.swat-frame .swat-frame-title {
	background: none;
	border: 0;
	color: inherit;
	font-size: inherit;
}

.swat-frame .swat-frame-title {

}

/* }}} */
