body {
	font-family: Georgia,serif;
	background: #fff;
	color: #333;
}

/* {{{ Layout */

#doc {
	width: auto;
	margin: 0 8%;
	min-width: 650px;
	position: relative;
}

#bd {
	margin: 4em 275px 4em 0;
}

#sidebar {
	position: absolute;
	top: 100px;
	right: 0;
	width: 225px;
}

/* }}} */
/* {{{ Links */

a { color: #069; }
a:link { color: #069; }
a:visited { color: #666; }
a:hover { color: #000; }
a:active { color: #000; }

/* }}} */
/* {{{ Header */

#hd {
	width: 225px;
	position: absolute;
	top: 0;
	right: 0;
}

#hd h1 {
	font-weight: normal;
	margin-bottom: 0;
	color: #555;
	position: relative;
	line-height: 40px;
}

#hd h1 span.title-1 {
	font-size: 50px;
}

#hd h1 span.title-2 {
	font-style: italic;
	color: #888;
	font-size: 35px;
	margin-left: 10px;
	position: relative;
	bottom: 3px;
}

#hd h1 span.title-1 span.first-letter,
#hd h1 span.title-3 span.first-letter {
	font-size: 65px;
	position: relative;
	top: 10px;
	letter-spacing: -5px;
}

#hd h1 span.title-3 {
	display: block;
	font-size: 50px;
}

#hd p {
	margin: 0;
	color: #999;
	font-size: 85%;
	text-align: center;
}

/* }}} */
/* {{{ Post Header */

.entry-title {
	font-size: 174%;
	font-weight: normal;
	margin-bottom: 0;
	color: #930;
}

.entry-title a,
.entry-title a:link,
.entry-title a:visited,
.entry-title a:hover,
.entry-title a:active {
	color: #930;
	text-decoration: none;
}

.entry-title a:hover,
.entry-title a:active {
	text-decoration: underline;
}

.entry-subtitle {
	color: #999;
	font-size: 85%;
	margin: 0.25em 0.5em 0.5em 0.5em;
	font-family: helvetica, arial, sans-serif;
}

.entry-subtitle a,
.entry-subtitle a:link,
.entry-subtitle a:visited {
	color: #777;
}

.entry-subtitle a:hover,
.entry-subtitle a:active {
	color: #333;
}
.entry-subtitle a.permalink {
	text-decoration: none;
}

.entry-subtitle abbr {
	border-bottom: 0;
}

/* }}} */
/* {{{ Post Content */

.entry {
	margin: 0.5em 0 4em 0;
}

.entry .entry-content {
	font-size: 123.1%;
	line-height: 1.4;
}

/* }}} */
/* {{{ Content */

img { border: 0px; }

img.border { border: 1px solid #999; padding: 2px; background: #fff; }
a img.border:hover	{ border: 1px solid #069; padding: 2px; background: #eee; }
a img.border:active	{ border: 1px solid #000; padding: 2px; background: #ccc; }

img.right { float: right; margin: 0.2em 0 1em 1em; }
img.left  { float: left;  margin: 0.2em 1em 0 1em; }

/* }}} */
/* {{{ Post Replies */

.replies-title {
	border-bottom: 1px solid #ccc;
}

.reply {
	margin: 1em 1em 2em 1em;
	font-size: 85%;
}

.reply .reply-title {
	font-weight: bold;
	font-size: 100%;
	color: #999;
}

.reply .reply-title span.reply-author {
	color: #666;
}

.reply .reply-title .permalink {
	font-weight: normal;
}

.reply .reply-title a.permalink:link,
.reply .reply-title a.permalink:visited {
	color: #999;
	text-decoration: none;
}

.reply .reply-title a.permalink:hover,
.reply .reply-title a.permalink:active {
	color: #666;
	text-decoration: underline;
}

.reply .reply-title abbr { border-bottom: 0; }

.reply .reply-link a:link,
.reply .reply-link a:visited {
	color: #999;
}

.reply .reply-link a:hover,
.reply .reply-link a:active {
	color: #666;
}

.reply .reply-content {
	margin: 0.5em 0;
	line-height: 1.5;
}

/* }}} */
/* {{{ Reset */

input[type="text"],
input[type="password"],
textarea {
	width: auto;
}

/* }}} */
/* {{{ Navbar */

#nav_bar {
	font-size: 85%;
	color: #999;
}

#nav_bar a:link,
#nav_bar a:visited {
	color: #999;
}

#nav_bar a:hover,
#nav_bar a:active {
	color: #666;
}

/* }}} */
/* {{{ Sidebar Gadgets */

.blorg-sidebar-gadget {
	margin: 0 0 2em 0;
	color: #666;
}

.blorg-sidebar-gadget .blorg-gadget-title {
	font-size: 100%;
	font-weight: bold;
	color: #666;
}

.blorg-sidebar-gadget a:link,
.blorg-sidebar-gadget a:visited {
	color: #666;
}

.blorg-sidebar-gadget a:hover,
.blorg-sidebar-gadget a:active {
	color: #333;
}

.blorg-active-conversations-gadget ul {
	margin: 0;
}

.blorg-active-conversations-gadget ul li {
	list-style-type: none;
	margin: 0.5em 0;
	padding: 0;
	font-size: 85%;
}

.blorg-active-conversations-gadget ul li span { color: #999; }

.blorg-active-conversations-gadget ul li.new span { color: #ef2929; }

/* }}} */
/* {{{ Swat Widgets */

.swat-frame,
.swat-frame .swat-frame-title,
.swat-frame .swat-frame-contents,
.swat-frame .swat-footer-form-field {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
}

.swat-frame .swat-frame-title {
	color: #666;
	margin: 1em 0;
}

/* }}} */
