body {
	font-family: Georgia,serif;
	background: #fff;
	color: #333;
}

/* {{{ Layout */

#doc {
	width: auto;
	margin: 4em 8%;
	min-width: 650px;
	position: relative;
}

#content {
	margin-right: 275px;
}

#sidebar {
	top: 150px;
}

/* }}} */
/* {{{ Links */

a { color: #069; }
a:link { color: #069; }
a:visited { color: #666; }
a:hover { color: #000; }
a:active { color: #000; }

/* }}} */
/* {{{ Header */

#hd {
	width: 220px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
}

#hd h1 {
	font-weight: normal;
	margin-bottom: 0;
	color: #555;
	position: relative;
	line-height: 40px;
	/* hacks for IE 6 and 7 */
	_line-height: 50px;
	.line-height: 50px;
}

#hd h1 a {
	text-decoration: none;
	display: block;
}

#hd h1 span.title-1 {
	font-size: 50px;
}

#hd h1 span.title-2 {
	font-style: italic;
	color: #888;
	font-size: 35px;
	margin-left: 10px;
	position: relative;
	bottom: 3px;
	padding-right: 0.5em;
}

#hd h1 span.title-1 span.first-letter,
#hd h1 span.title-3 span.first-letter {
	font-size: 65px;
	position: relative;
	top: 10px;
	letter-spacing: -5px;
}

#hd h1 span.title-3 {
	display: block;
	font-size: 50px;
}

#hd h1 a:hover span.title-1,
#hd h1 a:hover span.title-3 {
	color: #444;
}

#hd h1 a:hover span.title-2 {
	color: #666;
}

#hd p {
	margin: 0;
	color: #999;
	font-size: 85%;
	text-align: center;
}

#page_title {
	font-size: 174%;
	font-weight: normal;
}

/* }}} */
/* {{{ Post Header */

.entry .entry-title {
	font-size: 174%;
	font-weight: normal;
	margin-bottom: 0;
	color: #930;
}

.entry-title a,
.entry-title a:link,
.entry-title a:visited,
.entry-title a:hover,
.entry-title a:active {
	color: #930;
	text-decoration: none;
}

.entry-title a:hover,
.entry-title a:active {
	text-decoration: underline;
}

.entry-subtitle {
	color: #999;
	margin: 0.25em 0.5em 0.5em 0.5em;
	font-family: segoe ui, verdana, sans-serif;
}

.entry-subtitle a,
.entry-subtitle a:link,
.entry-subtitle a:visited {
	color: #777;
}

.entry-subtitle a:hover,
.entry-subtitle a:active {
	color: #333;
}
.entry-subtitle a.permalink {
	text-decoration: none;
}

.entry-subtitle abbr {
	border-bottom: 0;
}

/* }}} */
/* {{{ Post Content */

.entry-no-title {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 0.5em;
}

.entry .entry-content,
#content .author-content {
	font-size: 123.1%;
	line-height: 1.4;
}

/* }}} */
/* {{{ Content */

a img.border:hover	{ border: 1px solid #069; padding: 2px; background: #eee; }
a img.border:active	{ border: 1px solid #000; padding: 2px; background: #ccc; }

/* }}} */
/* {{{ Post Comments */

.comments-title {
	border-bottom: 1px solid #ccc;
}

.comment {
	margin: 1em 1em 2em 1em;
	font-size: 85%;
	font-family: segoe ui,verdana,sans-serif;
}

.comment .comment-title {
	font-weight: bold;
	font-size: 100%;
	color: #999;
}

.comment .comment-title span.comment-author {
	color: #666;
}

.comment .comment-title .permalink {
	font-weight: normal;
}

.comment .comment-title a.permalink:link,
.comment .comment-title a.permalink:visited {
	color: #999;
	text-decoration: none;
}

.comment .comment-title a.permalink:hover,
.comment .comment-title a.permalink:active {
	color: #666;
	text-decoration: underline;
}

.comment .comment-title abbr { border-bottom: 0; }

.comment .comment-link a:link,
.comment .comment-link a:visited {
	color: #999;
}

.comment .comment-link a:hover,
.comment .comment-link a:active {
	color: #666;
}

.comment .comment-content {
	margin: 0.5em 0;
	line-height: 1.5;
}

/* }}} */
/* {{{ Reset */

input[type="text"],
input[type="password"],
textarea {
	width: auto;
}

/* }}} */
/* {{{ Navbar */

#nav_bar {
	font-size: 85%;
	font-family: segoe ui, verdana, sans-serif;
	color: #999;
}

#nav_bar .swat-navbar-first { font-weight: bold; }

#nav_bar a:link,
#nav_bar a:visited {
	color: #999;
}

#nav_bar a:hover,
#nav_bar a:active {
	color: #666;
}

#nav_bar span { display: none; }

/* }}} */
/* {{{ Sidebar Gadgets */

.blorg-sidebar-gadget {
	font-family: segoe ui, verdana, sans-serif;
}

.blorg-sidebar-gadget a:link,
.blorg-sidebar-gadget a:visited {
	color: #666;
	text-decoration: none;
}

.blorg-sidebar-gadget a:hover,
.blorg-sidebar-gadget a:active {
	color: #333;
}

.blorg-active-conversations-gadget ul li.new span { color: #930; }

/* }}} */
/* {{{ Author */

#content .author-name {
	font-weight: normal;
	font-size: 174%;
	margin: 0.2em 0;
}

#content .author-content {

}

/* }}} */
/* {{{ Swat Widgets */

.swat-frame,
.swat-frame .swat-frame-title,
.swat-frame .swat-frame-contents,
.swat-frame .swat-footer-form-field {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
}

.swat-frame .swat-frame-title {
	color: #666;
	margin: 1em 0;
}

.swat-form-field {
	font-family: segoe ui,verdana,sans-serif;

}

/* }}} */
